@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    background-color: v.$secundario;
    color: v.$blanco;
    .footer-grid {
        @include m.tablet {
            @include m.grid(4, 5rem);
        }
    }
    .logo {
        max-width: 20rem;
        margin: 0 auto 5rem auto;
        @include m.tablet {
            margin-bottom: 0;
        }
    }
    .footer-widget {
        margin-bottom: 2rem;
        @include m.tablet {
            margin-bottom: 0;
        }
        h3 {
            color: v.$primario;
            @include m.tablet {
                margin-bottom: 3rem;
            }
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a{
            color: v.$blanco;
        }
    }
    .copyright {
        text-align: center;
        color: v.$blanco;
        margin-bottom: 0;
        padding: 2rem 0;
        border-top: 2px solid v.$negro;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}